<div class="outer">
  <div class="top_div">Top</div>
  <div class="bottom_container_div">
    <div class="bottom_left">Left</div>
    <div class="bottom_center">
      <div class="center_upper_div">
        Right upper div
      </div>
      <div class="center_bottom_div">
<!--        Right bottom div-->
        <div class="center_bottom_container">
          <div class="center_bottom_item">1</div>
          <div class="center_bottom_item">2</div>
          <div class="center_bottom_item">3</div>
          <div class="center_bottom_item">4</div>
          <div class="center_bottom_item">5</div>
          <div class="center_bottom_item">6</div>
        </div>


      </div>
    </div>
    <div class="bottom_right">
      <div class="right_upper_div">
        <div class="right_upper_div">
          Right upper div
        </div>
        <div class="right_bottom_div">
          Right bottom div
        </div>
      </div>
    </div>
  </div>



